.card-container {
  position: relative;
  width: 200px;
  padding: 5px 5px 25px 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.05);
  overflow: hidden;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  transform: scale(1); 
  
} 

.card-container:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  transform: scale(1.1); 
}

.description {
  position: absolute;
  display: block;
  text-wrap:initial;
  text-align: justify;
  justify-content: center;
  bottom: 0;
  left: 0;
  width:100%;
  height:fit-content;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 0.5rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  box-sizing: border-box
}

.card-container:hover .description {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.title-container {
  display: flex;
  font-size: 0.8rem;
}

.project-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
  object-fit: cover;
}