.mobile-header {
  position: fixed;
  top:0;
  right: 0;
  left:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: white;
  position: fixed;
  width: 100vw;
  z-index: 1000;
  height: 10vh;
}

.logo-resp {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 20px;
}

.menu-icon {
  font-size: 1.5rem;
  margin-right: 20px
}

.mobile-nav {
  position: absolute;
  top: 10vh;
  right: 0;
  width: 50%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  text-align: end;
  z-index: 1000;
}

.mobile-nav a {
  padding: 15px;
  color: white;
  text-decoration: none;

}

.hidden {
  display: none;
}
