@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
@import './styles/animations.css';

:root {
  font-family:  "Lexend Giga", sans-serif;
  
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  background-color: transparent;
  --background-photo-hero: url('/images/background_image1.jpg');
  --contact-background: url('/images/contact_back.jpg');
  --aboutme-background: url('/images/aboutMe_background.jpg');
  --other-image: url('/images/background.jpg');
  --logo: url('/icons/logo_markup.svg');
  --background_project_section_url: url('/images/projects_section_background.jpg'); 
  --header-letters-color: #F5F5F0;
  --header-letters-color-hover:#9398a1;
  --header-color: #090909;
  --hero-button-color: #47DBFF1f;
  --hero-button-color-hover: #AC199D1f;
}

a {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--header-letters-color);
  text-decoration: none;
}

a:hover {
  color: var(--header-letters-color-hover);
  animation: pulse 200ms ease-in-out;
}

.header-hidden-bar {
  height: 60px;
  z-index: 1;
  position: absolute;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: black;
  margin-bottom: 50px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



@media (max-width: 768px) {
  h1 {
  font-size: 20px;
  line-height: 2em;
  }

}
